<!--ALERT -->

<?php
    if( $posted ) {
      if( $result ){ 
        echo "<div class='row'>
        				<div class='col-sm-1'></div>
        				<div class='col-sm-10'>
	        				<div class='alert alert-success'>
	        						<strong>Satisfactorio: </strong>
	        						Mensaje enviado satisfactoriamente...A Pan Q Ayuda!
	        				</div>
	        			</div>
        				<div class='col-sm-1'></div>
        			</div>";
      }else{
        echo "<div class='row'>
        				<div class='col-sm-1'></div>
        				<div class='col-sm-10'>
	        				<div class='alert alert-danger'>
	        						<strong>Error: </strong>
	        						Mensaje no pudo ser enviado!
	        				</div>
	        			</div>
        				<div class='col-sm-1'></div>
        			</div>";
      }
    }
?>
    

<!-- FOTOS CARAS -->

<br>

<table>
  <tr>
    <th><img src="../resources/logo.png"></th> 
    <th><img src="../resources/logo.png"></th>
    <th><img src="../resources/logo.png"></th>
    <th><img src="../resources/logo.png"></th>
    <th><img src="../resources/logo.png"></th>
  </tr>

</table>
<br>

<!-- CONTENIDO -->

<br>
<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10" id="text">
      
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">SERVICIOS EN LOS QUE PUEDES AYUDAR A PAN Q AYUDA</h1>
          <p class="lead">Comprando los productos hechos en Pan Q Ayuda ya sea para regalos, coffee breaks o eventos.</p>
          <p class="lead">Permitir vender productos de Pan Q Ayuda en instalaciones diferentes para realizar ventas con causa periódicamente, y así acercar la responsabilidad social a los diferentes colaboradores.</p>
          <p class="lead">Realizar voluntariado colaborativo en Pan Q Ayuda prestando tus ojos, tus manos, tus piernas, y también donandonos tu experticia.</p>
        </div>
      </div>
      
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>

<!--
<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10" id="text">
      <h3><strong>SERVICIOS EN LOS QUE PUEDES AYUDAR A PAN Q AYUDA</strong></h3>

      <p class="card-text text-black-50">Comprando los productos hechos en Pan Q Ayuda ya sea para regalos, coffee breaks o eventos.</p>

      <p class="card-text text-black-50">Permitir vender productos de Pan Q Ayuda en instalaciones diferentes para realizar ventas con causa periódicamente, y así acercar la responsabilidad social a los diferentes colaboradores.</p>

	  <p class="card-text text-black-50">Realizar voluntariado colaborativo en Pan Q Ayuda prestando tus ojos, tus manos, tus piernas, y también donandonos tu experticia.</p>

    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
-->

<!-- FORMA -->

<div class="container">
  	<div class="row">
    	<div class="col-sm-2"></div>
    		<div class="col-sm-8" id="text">
				<form action="../controllers/OperacionesContacto.php" method="POST">
		  			<div class="row">
		    			<div class="col">
		      				<input type="text" class="form-control" placeholder="Nombre" required name="nombre">
		    			</div>
		    			<div class="col">
		      				<input type="text" class="form-control" placeholder="Apellido" required name="apellido">
		    			</div>
		  			</div>

		  			<br>

		  			<div class="row">
		    			<div class="col">
		      				<input type="email" class="form-control" placeholder="Email" required name="correo">
		    			</div>
		  			</div>

		  			<br>

		  			<div class="row">
		    			<div class="col">
		      				<input type="text" class="form-control" placeholder="Asunto" required name="asunto">
		    			</div>
		  			</div>

		  			<br>

		  			<div class="row">
		    			<div class="col">
		      				<textarea class="form-control" rows="5" id="comment" placeholder="Mensaje" required name="mensaje"></textarea>
		    			</div>
		  			</div>
		  			
		  			<br>
		  			
		  			<div class="row">
		    			<div class="col">
		  					<div class="g-recaptcha" data-sitekey="6Ld3jqgUAAAAAA_srfX4S71FDZvR5_LD-OBx9Ajx"></div>
		  				</div>
		  			</div>

		  			<br>

		  			<button type="submit" class="btn btn-outline-dark" value="showAlert" onclick="showAlert();">ENVIAR</button>
				</form>
    		</div>
    	<div class="col-sm-2"></div>
  	</div>
</div>

<!--alert -->
<script>
		function showAlert(){
		  if($("#myAlert").find("div#myAlert2").length==0){
		    $("#myAlert").append("<div class='alert alert-success alert-dismissable' id='myAlert2'> <button type='button' class='close' data-dismiss='alert'  aria-hidden='true'>&times;</button> Success! message sent successfully.</div>");
		  }
		  $("#myAlert").css("display", "");
		}

</script>