

<!--carrousel -->
<div class="container">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100 " src="../resources/index1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../resources/index2.jpg"  alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../resources/index3.jpg"  alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

</div>

<!-- MISION -->
<br>
<br>
<div class="container">
  <div class="row">

    <div class="col-sm-2"></div>
    <div class="col-sm-8" id="text">
      
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">MISIÓN</h1>
          <p class="lead">Realizar proyectos de responsabilidad social que generen fuente de empleo para personas con discapacidad, tercera edad y madres cabeza de familia a través de la fabricación y venta de galletas, pasteles, gelatinas, y pan gourmet de calidad artesanal..</p>
        </div>
      </div>

    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

<!-- QUIENES SOMOS -->

<br>
<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" id="text">
      
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">¿QUIÉNES SOMOS?</h1>
          <p class="lead">Somos una cooperativa formada, dirigida y administrada por y para personas con discapacidad, tercera edad y madres cabeza de familia que generan empleo para estos grupos vulnerables a través de la comercialización de repostería fina, galletas gourmet y artesanales.</p>
        </div>
      </div>
      
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

<!-- VISION  -->


<br>
<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" id="text">
      
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">VISIÓN</h1>
          <p class="lead">Ser la panificadora de mayor prestigio por calidad y compromiso social en México.</p>
        </div>
      </div>
      
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

<!--como ayudar 
<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6" id="text">
      <button type="button" class="btn btn-outline-dark">COMO AYUDAR</button>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>

-->

