
<!-- MIEMBROS -->

<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" id="text">
      <h2><strong>CARAS VEMOS DISCAPACIDADES NO SABEMOS</strong></h2>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

<!--grupo 1-->

<div class="container">
  <div class="row" id="text">

    
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img src="../resources/logo.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ANA YOLANDA LÓPEZ DOMÍNGUEZ</h5>
          <p class="card-text">Directora general</p>
          <p class="card-text"><p>Parálisis cerebral</p> 
          <p class="card-text">Discapacidad motriz.</p>
        </div>
      </div>
    </div>
    
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img src="../resources/logo.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">SALVADOR GUSTAVO MONTES BASALDUA</h5>
          <p class="card-text">Marketing Digital y ventas de embajador.</p>
          <p class="card-text">Parálisis cerebral.</p>
          <p class="card-text">Discapacidad motriz.</p>
        </div>
      </div>
    </div>
    
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img src="../resources/logo.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">SALVADOR LOPEZ OROZCO</h5>
          <p class="card-text">Marketing Digital y ventas de embajador.</p>
          <p class="card-text">Administración</p> 
          <p class="card-text">Tercera edad</p>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img src="../resources/logo.png" class="card-img-top" alt="..." >
        <div class="card-body">
          <h5 class="card-title">VALENTINA LÓPEZ DOMÍNGUEZ</h5>
          <p class="card-text">Gerente de producción</p> 
        </div>
      </div>
    </div>

  </div>
</div>

<!--grupo 2-->

<div class="container">
  <div class="row" id="text">
    
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img src="../resources/logo.png" class="card-img-top" alt="..." >
        <div class="card-body">
          <h5 class="card-title">Ismael Ortiz Martínez</h5>
          <p class="card-text">Maestro panadero</p>
          <p class="card-text">Discapacidad visual</p> 
        </div>
      </div>
    </div>
    
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img src="../resources/logo.png" class="card-img-top" alt="..." >
        <div class="card-body">
          <h5 class="card-title">Saul Gómez Mejía</h5>
          <p class="card-text">Maestro panadero</p>
          <p class="card-text">Asmático</p> 
        </div>
      </div>
    </div>
    
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img src="../resources/logo.png" class="card-img-top" alt="..." >
        <div class="card-body">
          <h5 class="card-title">Ulises Alejandro Abad Solís</h5>
          <p class="card-text">Empaquetador, surtidor</p> 
          <p class="card-text">Discapacidad auditiva</p>
        </div>
      </div>
    </div>
    
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img src="../resources/logo.png" class="card-img-top" alt="..." >
        <div class="card-body">
          <h5 class="card-title">Elena Nicolas Sierra</h5>
          <p class="card-text">Asistencia de panadero</p> 
          <p class="card-text">Madre soltera, tercera edad</p> 
        </div>
      </div>
    </div>

  </div>
</div>




<!--grupo 3-->

<div class="container">
  <div class="row" id="text">
    
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img src="../resources/logo.png" class="card-img-top" alt="..." >
        <div class="card-body">
          <h5 class="card-title">Lucila Robles Padilla</h5>
          <p class="card-text">Limpieza</p>
          <p class="card-text">Madre cabeza de familia</p> 
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img src="../resources/logo.png" class="card-img-top" alt="..." >
        <div class="card-body">
          <h5 class="card-title">Maritza Rodriguez Munguia</h5>
          <p class="card-text">Suministro de materiales</p>
        </div>
      </div>
    </div>
    
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img src="../resources/logo.png" class="card-img-top" alt="..." >
        <div class="card-body">
          <h5 class="card-title">Silvia Chombo Mondragon</h5>
          <p class="card-text">Discapacidad sensorial y visual</p> 
        </div>
      </div>
    </div>
    
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img src="../resources/logo.png" class="card-img-top" alt="..." >
        <div class="card-body">
          <h5 class="card-title">Maricarmen Martínez Pérez</h5>
          <p class="card-text">Ventas de embajador</p> 
          <p class="card-text">Tercera edad</p> 
        </div>
      </div>
    </div>
    

  </div>
</div>