<!--ALERT -->

<?php
    if( $posted ) {
      if( $result ){ 
        echo "<div class='row'>
        				<div class='col-sm-1'></div>
        				<div class='col-sm-10'>
	        				<div class='alert alert-success'>
	        						<strong>Satisfactorio: </strong>
	        						Pedido enviado satisfactoriamente...A Pan Q Ayuda!
	        				</div>
	        			</div>
        				<div class='col-sm-1'></div>
        			</div>";
      }else{
        echo "<div class='row'>
        				<div class='col-sm-1'></div>
        				<div class='col-sm-10'>
	        				<div class='alert alert-danger'>
	        						<strong>Error: </strong>
	        						Pedido no pudo ser enviado!
	        				</div>
	        			</div>
        				<div class='col-sm-1'></div>
        			</div>";
      }
    }
?>
    

<!-- FOTOS CARAS -->

<br>

<table>
  <tr>
    <th><img src="../resources/logo.png"></th> 
    <th><img src="../resources/logo.png"></th>
    <th><img src="../resources/logo.png"></th>
    <th><img src="../resources/logo.png"></th>
    <th><img src="../resources/logo.png"></th>
  </tr>

</table>
<br>

<!-- CONTENIDO -->

<br>
<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10" id="text">
      
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">FINALIZAR Y ENVIAR ORDEN DE PRODUCTOS A PAN Q AYUDA!</h1>
          <p class="lead">Finaliza tu compra proporcionandonos los siguientes datos para completar tu pedido...</p>
        </div>
      </div>
      
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>


<!-- FORMA -->

<div class="container">
  	<div class="row">
    	<div class="col-sm-2"></div>
    		<div class="col-sm-8" id="text">
				<form action="../controllers/OperacionesEnviarOrden.php" method="POST">

		  			<div class="row">
		    			<div class="col">
		      				<input type="text" class="form-control" placeholder="Nombre" required name="nombre">
		    			</div>

		    			<div class="col">
		      				<input type="text" class="form-control" placeholder="Apellido" required name="apellido">
		    			</div>
		  			</div>

		  			<br>

		  			<div class="row">
		    			<div class="col">
		      				<input type="email" class="form-control" placeholder="Email" required name="correo">

		      				<input type="hidden" class="form-control" required name="asunto" value="Orden de Pedido Pan Q Ayuda">
		    			</div>

		    			<div class="col">
		      				<input type="tel" class="form-control" placeholder="(Lada)Telefono" required name="telefono" pattern="[0-9]{10}">
		    			</div>

		  			</div>

		  			<br>

		  			<div class="row">
		    			<div class="col">
		      				<input type="text" class="form-control" placeholder="Direccion" required name="direccion">
		    			</div>

		    			<div class="col">
		    				<!--<input type="date"  class="form-control" placeholder="Fecha"  name="fecha">-->
		      				<input type="date"  class="form-control" placeholder="Fecha" value="<?php echo date('Y-m-d'); ?>" name="fecha"> 
		    			</div>

		  			</div>

		  			<br>
		  			<!--	RICARDO, AQUI ES DONDE DEBES MADAR EL PEDIDO EN FORMA DE STRING O LISTA, COMO QUIERAS
		  			<div class="row">
		    			<div class="col">
		      				<textarea class="form-control" rows="5" id="comment" placeholder="Pedido" required name="pedido"></textarea>
		    			</div>
		  			</div>
		  			-->

		  			<br>

		  			<div class="row">
		    			<div class="col">
		      				<textarea class="form-control" rows="5" id="comment" placeholder="Sugerencias (Opcionales)" name="sugerencia"></textarea>
		    			</div>
		  			</div>
		  			
		  			<br>
						

		  			<div class="row">
		    			<div class="col">
		  					<div class="g-recaptcha" data-sitekey="6Ld3jqgUAAAAAA_srfX4S71FDZvR5_LD-OBx9Ajx"></div>
		  				</div>
		  			</div>


		  			<br>

		  			<button type="submit" class="btn btn-outline-dark" value="showAlert" onclick="showAlert();">ENVIAR</button>
				</form>
    		</div>
    	<div class="col-sm-2"></div>
  	</div>
</div>

