
    </main>

      <div class="row " id="footer">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><h3>PAN Q' AYUDA</h3>
              <a href="https://www.facebook.com/PanQAyuda/"><i class="fa fa-facebook"></i></a>
              <a href="https://instagram.com/panqayuda?igshid=uhurlz2fwaj4"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-youtube-play"></i></a>
              <a href="https://mx.linkedin.com/in/panqayuda"><i class="fa fa-linkedin"></i></a>
              <a href="https://twitter.com/PanQAyuda?s=08"><i class="fa fa-twitter"></i></a>
              
              <br>
              <br>
              <p class="card-text text-black-50">Entrega de pedidos a domicilio, favor de solicitar arriba de $500 por orden.</p>
              <br>
              <p class="card-text">Sigue nuestras redes sociales y enterate de todas nuestras noticias...</p>
              <br>
              <!--forma de correo electronico-->
              <form action="../controllers/OperacionesContacto.php" method="post">
                <button type="submit" class="btn btn-outline-dark">COMO AYUDAR</button>
              </form>
              <!--forma de correo electronico-->
              <br>
              <p class="card-text"><i><strong>"MADE WITH LOVE"</strong></i></p>
              <br>
              <p class="card-text text-black-50">AVISO DE PRIVACIDAD</p>
            </div>
          </div>
        </div>
      </div>
      <br>

  </body>
</html>
